<% include partials/header %>


<h1>Welcome to the Show Page</h1>

<p></p><%= toursite.name %></p>
<img src = <%= toursite.img %> width="500" height="300">
<p><%= toursite.desc %></p>


<% include partials/footer %>
